.version._404 /* version checker */
{
	color: #000018;
	background-color: #E22FEE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1299.9499999999953px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 14px;
}

#u247
{
	z-index: 3;
	padding-bottom: 49px;
}

#u254-4
{
	z-index: 5;
	width: 301px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 460px;
}

#u247-bw
{
	z-index: 3;
	height: 121px;
}

#pu257
{
	width: 0.01px;
	margin-left: -100px;
}

#u257
{
	z-index: 9;
}

#buttonu250
{
	z-index: 10;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 236px;
}

#buttonu250:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu250:active
{
	margin: 0px -10000px 0px 0px;
}

#u251-4
{
	z-index: 11;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu250:hover #u251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu250:active #u251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#u257-bw
{
	z-index: 9;
	height: 75px;
}

#buttonu258
{
	z-index: 15;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 423px;
}

#buttonu250.ButtonSelected,#buttonu258:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu258:active
{
	margin: 0px -10000px 0px 0px;
}

#u259-4
{
	z-index: 16;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu250.ButtonSelected #u251-4,#buttonu258:hover #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu258:active #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu255
{
	z-index: 20;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 610px;
}

#buttonu258.ButtonSelected,#buttonu255:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu255:active
{
	margin: 0px -10000px 0px 0px;
}

#u256-4
{
	z-index: 21;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu258.ButtonSelected #u259-4,#buttonu255:hover #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu255:active #u256-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu248
{
	z-index: 25;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 797px;
}

#buttonu255.ButtonSelected,#buttonu248:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu248:active
{
	margin: 0px -10000px 0px 0px;
}

#buttonu248.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
}

#u249-4
{
	z-index: 26;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu255.ButtonSelected #u256-4,#buttonu248:hover #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu248:active #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu248.ButtonSelected #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#u252
{
	z-index: 4;
	padding-bottom: 823px;
}

#u247_align_to_page,#u257_align_to_page,#u252_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#u237-4
{
	z-index: 38;
	width: 980px;
	min-height: 74px;
	background-color: transparent;
	line-height: 38px;
	font-size: 32px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 120px;
}

#u252-bw
{
	z-index: 4;
	height: 171px;
}

#u253
{
	z-index: 2;
	height: 742px;
	bottom: 0px;
}

#u253-bw
{
	z-index: 2;
}

#u260-8
{
	z-index: 30;
	width: 476px;
	min-height: 21px;
	margin-left: 20px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

