.version.files /* version checker */
{
	color: #000001;
	background-color: #658BEA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1299.9499999999912px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 14px;
	width: 0.01px;
}

#u295
{
	z-index: 3;
	min-height: 121px;
	padding-bottom: 49px;
}

#u295_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#u305-4
{
	z-index: 5;
	width: 301px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 460px;
}

#u295-bw
{
	z-index: 3;
	min-height: 121px;
}

#u302,#u302-bw
{
	z-index: 4;
	height: 1069px;
}

#u297
{
	z-index: 2;
	height: 742px;
	bottom: 0px;
}

#u297-bw
{
	z-index: 2;
}

#u296-8
{
	z-index: 9;
	width: 476px;
	min-height: 21px;
	margin-left: 20px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

