#u251-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u259-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u256-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u249-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u254-4,#u260-8
{
	font-family: josefin-sans-n3, sans-serif;
}

#u237-4
{
	font-family: josefin-sans-n4, sans-serif;
}

