.version.index /* version checker */
{
	color: #0000E0;
	background-color: #C1D9DD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -2853px;
}

#u79-4
{
	z-index: 3;
	width: 301px;
	min-height: 31px;
	margin-left: 360px;
	margin-top: 2901px;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 49px;
}

#u75
{
	z-index: 7;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#buttonu81
{
	z-index: 8;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 236px;
}

#buttonu81:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu81:active
{
	margin: 0px -10000px 0px 0px;
}

#u86-4
{
	z-index: 9;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu81:hover #u86-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu81:active #u86-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#u75-bw
{
	z-index: 7;
	height: 75px;
}

#buttonu90
{
	z-index: 13;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 423px;
}

#buttonu81.ButtonSelected,#buttonu90:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu90:active
{
	margin: 0px -10000px 0px 0px;
}

#u91-4
{
	z-index: 14;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu81.ButtonSelected #u86-4,#buttonu90:hover #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu90:active #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu95
{
	z-index: 18;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 610px;
}

#buttonu90.ButtonSelected,#buttonu95:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu95:active
{
	margin: 0px -10000px 0px 0px;
}

#u96-4
{
	z-index: 19;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu90.ButtonSelected #u91-4,#buttonu95:hover #u96-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu95:active #u96-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu97
{
	z-index: 23;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 797px;
}

#buttonu95.ButtonSelected,#buttonu97:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu97:active
{
	margin: 0px -10000px 0px 0px;
}

#buttonu97.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
}

#u98-4
{
	z-index: 24;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu95.ButtonSelected #u96-4,#buttonu97:hover #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu97:active #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu97.ButtonSelected #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#u124-7
{
	z-index: 32;
	width: 632px;
	min-height: 103px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 194px;
	margin-top: 41px;
	position: relative;
}

#u77
{
	z-index: 2;
	padding-bottom: 38px;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
	margin-bottom: -3242px;
}

#u123-4
{
	z-index: 28;
	width: 228px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 3291px;
	left: 120px;
}

#u77-bw
{
	z-index: 2;
	margin-top: -3242px;
	height: 3315px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

