#u254-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 61px;
	line-height: 73px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u257
{
	border-color: #000000;
	background-color: #FFFFFF;
}

#buttonu250
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu250:hover
{
	background-color: #191919;
}

#buttonu250:active
{
	background-color: #000000;
}

#u251-4
{
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu250:hover #u251-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu250:active #u251-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu258
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu258:hover
{
	background-color: #191919;
}

#buttonu258:active
{
	background-color: #000000;
}

#u259-4
{
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu250.ButtonSelected #u251-4 p,#buttonu258:hover #u259-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu258:active #u259-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu255
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu255:hover
{
	background-color: #191919;
}

#buttonu255:active
{
	background-color: #000000;
}

#u256-4
{
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu258.ButtonSelected #u259-4 p,#buttonu255:hover #u256-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu255:active #u256-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu248
{
	border-color: #787878;
	background-color: #FFFFFF;
	position: relative;
}

#buttonu248:hover
{
	background-color: #191919;
}

#buttonu248:active
{
	background-color: #000000;
}

#buttonu250.ButtonSelected,#buttonu258.ButtonSelected,#buttonu255.ButtonSelected,#buttonu248.ButtonSelected
{
	background-color: #C84B4B;
}

#u249-4
{
	background-color: transparent;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu255.ButtonSelected #u256-4 p,#buttonu248:hover #u249-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu248:active #u249-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu248.ButtonSelected #u249-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u247,#u252
{
	border-color: #000000;
	background-color: #191919;
}

#u247_align_to_page,#u257_align_to_page,#u252_align_to_page
{
	position: relative;
}

#u253
{
	border-color: #000000;
	background-color: #191919;
	position: fixed;
}

#u260-8
{
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u260-6
{
	color: #191919;
}

#u260-2,#u260-3
{
	color: #FFFFFF;
}

