.version.portfolio /* version checker */
{
	color: #0000F2;
	background-color: #CCCE6C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1299.9000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u162
{
	z-index: 3;
	padding-bottom: 49px;
}

#u79-4
{
	z-index: 5;
	width: 301px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 460px;
}

#u162-bw
{
	z-index: 3;
	height: 121px;
}

#u75
{
	z-index: 9;
}

#buttonu81
{
	z-index: 10;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 236px;
}

#buttonu81:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu81:active
{
	margin: 0px -10000px 0px 0px;
}

#u86-4
{
	z-index: 11;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu81:hover #u86-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu81:active #u86-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#u75-bw
{
	z-index: 9;
	height: 75px;
}

#buttonu90
{
	z-index: 15;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 423px;
}

#buttonu81.ButtonSelected,#buttonu90:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu90:active
{
	margin: 0px -10000px 0px 0px;
}

#u91-4
{
	z-index: 16;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu81.ButtonSelected #u86-4,#buttonu90:hover #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu90:active #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu95
{
	z-index: 20;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 610px;
}

#buttonu90.ButtonSelected,#buttonu95:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu95:active
{
	margin: 0px -10000px 0px 0px;
}

#u96-4
{
	z-index: 21;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu90.ButtonSelected #u91-4,#buttonu95:hover #u96-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu95:active #u96-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu97
{
	z-index: 25;
	width: 187px;
	padding-bottom: 24px;
	margin-right: -10000px;
	left: 797px;
}

#buttonu95.ButtonSelected,#buttonu97:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu97:active
{
	margin: 0px -10000px 0px 0px;
}

#buttonu97.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
}

#u98-4
{
	z-index: 26;
	width: 187px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 25px;
}

#buttonu95.ButtonSelected #u96-4,#buttonu97:hover #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu97:active #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#buttonu97.ButtonSelected #u98-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	margin: 25px -10000px 0px 0px;
}

#pu75,#pu77
{
	width: 0.01px;
	margin-left: -100px;
}

#u77
{
	z-index: 4;
	padding-bottom: 221px;
}

#u162_align_to_page,#u75_align_to_page,#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#pu126-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 65px;
	margin-left: 142px;
}

#u126-4
{
	z-index: 35;
	width: 209px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u127
{
	z-index: 39;
	width: 157px;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 17px;
	position: relative;
}

#u139-4
{
	z-index: 70;
	width: 209px;
	min-height: 26px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-top: 494px;
	position: relative;
}

#u133-29
{
	z-index: 41;
	width: 263px;
	min-height: 182px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 374px;
}

#u77-bw
{
	z-index: 4;
	height: 773px;
}

#u170
{
	z-index: 34;
	border-color: #000000;
	background-color: #191919;
	padding-bottom: 69px;
}

#u170_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u142-23
{
	z-index: 74;
	width: 263px;
	min-height: 329px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: -117px;
	left: 374px;
}

#u133,#u133-6,#u133-9,#u133-12,#u133-15,#u133-18,#u133-21,#u133-26,#u142,#u142-6,#u142-9,#u142-12,#u142-15,#u142-20
{
	color: #FFFFFF;
}

#u170-bw
{
	z-index: 34;
	margin-top: 869px;
	height: 359px;
}

#u156
{
	z-index: 97;
	width: 113px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 798px;
	left: 190px;
}

#u171
{
	z-index: 2;
	padding-bottom: 38px;
}

#u171_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
	margin-bottom: -7px;
}

#u123-4
{
	z-index: 30;
	width: 228px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 120px;
}

#u171-bw
{
	z-index: 2;
	margin-top: -7px;
	height: 31px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

